@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: tomato;
	--accent-color-light: #e89f90;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

h1,
h2 {
	font-family: 'Josefin Sans', "Open Sans", Arial, sans-serif;
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

.center-align {
	text-align: center;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:not(.icon-button) {
	background-color: var(--accent-color);
	border: none;
	padding: 10px 30px;
	font-size: 18px;
	color: #FFF;
	box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
	cursor: pointer;
}

button:not(.icon-button):hover {
	background-color: #ec5438;
	box-shadow: 3px 3px 2px rgb(0 0 0 / 10%);
}

button:not(.icon-button):disabled,
button:not(.icon-button)[disabled] {
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

button:not(.icon-button):focus:not(:focus-visible) {
	outline: none;
}

.icon-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.icon-button:disabled,
.icon-button[disabled] {
	fill: #cccccc !important;
	cursor: not-allowed;
}

.icon-button:disabled svg path,
.icon-button[disabled] svg path {
	fill: #cccccc !important;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

dialog {
	min-width: 40vw;
	box-shadow: 0 0 0 100vw rgb(0 0 0 / .7);
	max-height: 80vh;
	overflow: scroll;
}

table {
	width: 100%;
	box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 4%);
}

.table-header {
	background-color: #b9c6d2;
	line-height: 2;
}

td {
	padding-left: 10px;
}

tr:nth-child(2n-1) {
	background-color: var(--secondary-color);
}

tr:hover:not(:first-child) {
	background-color: var(--primary-color);
}

tr:first-child {
	background: linear-gradient(var(--primary-color), var(--secondary-color), var(--primary-color));
}

.products-autocomplete {
	position: absolute;
	left: 0;
	top: 100%;
	right: 0;
	z-index: 10;
	background-color: #fff;
	box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}

.products-autocomplete ul {
	list-style: none;
	text-align: left;
}

.products-autocomplete ul li {
	cursor: pointer;
	padding: 5px;
}

.products-autocomplete ul li span {
	margin-left: 30px;
	font-size: 16px;
}

.products-autocomplete ul li:hover {
	background-color: var(--secondary-color);
}

.record-actions {
	display: flex;
	justify-content: space-evenly;

	svg {
		max-width: 15px;
	}
}


.record-actions svg:hover path {
	fill: var(--accent-color);
}

.product-transactions {

	ul {
		list-style: none;

		li {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
		}
	}
}